<!doctype html>
        <html lang = 'en'>
            <head>
                <title>This is the index page</title>
            </head>
            <body>
                <ul>"welcome to wish list"</ul>
                <form action="/wish" method ="POST">
                    First Name: <input type="text" name ="firstname"><br>
                    Last Name: <input type="text" name="lastname"><br>
                    zipcode: <input type="text" name="zipcode"><br>
                    city: <input type="text" name="city"><br>
                    address: <input type="text" name ="address"><br>
                    age: <input type="text" name ="age"><br>
                    wish: <input type="text" name="wish"><br>
                    <input type = "submit" value="Submit">
                </form>
            </body>
        </html>

